*{
    padding: 0;
    margin: 0;
    
}

#kutu{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
    float: left;
    
}
#kutu2{
    position: absolute !important ;
    left: 50% !important;
    top: 60% !important;
    transform: translate(-50%,-50%) !important;
    float: left;
    width: 30%;
    
}
#input-text{
    border:none;
    width: 0px;
    height: 100%;
    font-size:25px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 30px;

    background-color: transparent;
    color: white;
    transition: width 0.5s;
    
    

}
#input{
    
    transition: width 1s;
    height: 40px;
   
    color:white;
    border-radius: 30px;
}
#input-text:focus{
    outline: none;   
}
#mrck{
    display:inline;
    font-size:30px;
    margin-left: 5px;
    transition: font-size 1s;
    transition-delay: 0.5s;
    
}
#kutu:hover .mercek{
    font-size: 20px;
     
}
#kutu:hover #input-text{
    width: 300px;
    border-left:1px #18dcff solid;
    border-right:1px #18dcff solid;
}
input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}
#kutu3 label{
    color:white;
}